<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block title_block%}
    {%endblock%}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        .card{
            border: none;
        }
    </style>
    
</head>
<body>
    <!-- Navbar starts -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            StyleShines
        </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    <!-- Navbar ends -->

    <!-- body of the content starts -->
    <div class="container-fluid">
      {%block body_block%}
      {%endblock%}
  </div>
    <!-- body of the content ends -->

    <!-- banner section starts here -->
    <div class="container-fluid sticky-bottom" >

        <div class="container">
            <h2 class="text-center mb-lg-5 mb-md-5 mb-2">Get IN TOUCH </h2>

          <div class="card-group column-gap-5">
            <div class="card   text-dark text-center">
              
                <div class="card-body">
                    <h5 class="card-title">Celebrate the Beauty of Life</h5>
                    <p class="card-text">Jewellery is eternal,It never goes out of fashion it will always be there</p>
                    <p></p>
                    <a href="#" class="btn btn-success rounded-pill mt-3">Feed Back</a>
                  </div>
              
            </div>
            <div class="card   text-dark text-center">
              <div class="card-body">
                
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-12 d-flex justify-content-center align-items-center">
                  
                  
                        <div>
                          <p>Subscribe to our newsletter and get updates on latest designs and sales.</p>
                  
                  
                          <div class="input-group mb-5 bg-white p-1 rounded-pill">
                            <input type="text" class="form-control border border-0" placeholder="Enter your email"
                              aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <button class="input-group-text btn btn-dark rounded-pill" id="basic-addon2">Subscribe</button>
                          </div>
                          <div class="icons">
                            <i class="fa-brands fa-cc-visa fa-2x"></i>
                            <i class="fa-solid fa-credit-card fa-2x"></i>
                            <i class="fa-brands fa-cc-mastercard fa-2x"></i>
                          </div>
                  
                  
                        </div>
                  
                      </div>
                      
                    </div>
                  
                
              </div>
            </div>
          </div>
            
        </div>
    </div>

    
  <!-- banner section ends here -->

  <!-- footer starts -->
<footer class="d-flex  flex-column align-items-center p-4">
    <h3>StyleShines</h3>
    <p>For  more contact me</p>
    <div class="icons">
      <i class="fa-brands fa-facebook fa-2x"></i>
      <i class="fa-brands fa-square-instagram fa-2x"></i>
      <i class="fa-brands fa-google fa-2x"></i>
    </div>
  </footer>

  <!-- footer ends -->
  

</body>
</html>